@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('https://cdn.rawgit.com/supplyui/canvas/c7014d04/fonts/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('https://cdn.rawgit.com/supplyui/canvas/c7014d04/fonts/SourceSansPro-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-Semibold';
    src: url('https://cdn.rawgit.com/supplyui/canvas/c7014d04/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('https://cdn.rawgit.com/supplyui/canvas/c7014d04/fonts/SourceSansPro-Light.ttf');
}

@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url('https://cdn.rawgit.com/supplyui/canvas/c7014d04/fonts/SourceSansPro-SemiBold.ttf');
}
